body {
  font-family: Arial, sans-serif;
  background: #f7f9fc;
  margin: 0;
  padding: 0;
}

/*.login-container {
  /*display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}*/

/*.login-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}*/

/*.login-form h2 {
  margin-bottom: 20px;
}*/

/*/.input-group {
  text-align: left;
  margin-bottom: 15px;
}*/

/*.input-group label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}*/

/*.input-wrapper {
  position: relative;
  width: 295px;
  width: 295px;
  max-width: 100%; 
}*/

/*.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}*/

/*.input-wrapper .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}*/

/*.btn {
  background: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}*/

.btn:hover {
  background: #1e40af;
}

.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}

.switch a:hover {
  text-decoration: underline;
}